bin
obj
test.sy
test.ll
test.s
test.bin
test_output
.cache
frontend/parser/location.hh
frontend/parser/lexer.cpp
frontend/parser/lexer.h
frontend/parser/yacc.cpp
frontend/parser/yacc.h
compile_commands.json

.vscode/settings.json
location.hh
yacc.output
yacc.tab.c
yacc.tab.h

test.o
test.out
test.parser
test.debug.glb
test.debug.var

_current_code/
